<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>
    <script id="big-Menu" type="text/x-handlebars-template">
        <div class="ui grid">
            <div class="four wide column">
                <div class="ui vertical fluid tabular menu">
                    <!-- <a id="Bio" class="item active"> -->
                    <a id="Bio" class="item">
                        Bio
                    </a>
                    <a id = "Links" class="item">
                        Links
                    </a>
                    <a id = "Settings" class="item">
                        Settings
                    </a>
                </div>
            </div>
            <div id = "parent" class="twelve wide stretched column">
            </div>
        </div>
    </script>
    <script id="big-Bio" type="text/x-handlebars-template">
        <div>
            <form action="/mypage/<%= user._id %>?_method=PUT" method="POST" class="ui form">
                <textarea  name="bio"><% if(user.bio){ %><%= user.bio %><% }else{ %>Enter your bio here<% } %></textarea>
                <button class="btn-check"><i class="ui check icon grn"></i></button>
            </form>
        </div>
    </script>
    <script id="big-Links" type="text/x-handlebars-template">
        <div class="ui segment">
            <ul>
            <% user.links.forEach(link => {%>
            <li>
                <i class="<%= Object.keys(link)%> icon"></i><%= Object.values(link)%>
            </li>
            <% }) %>
            </ul>
            <form id="form-big-links"action="/mypage/<%= user._id %>/links?_method=PUT" method="POST" class="ui form">
                <div class="field div-inline div-links">
                    <div>
                        <label>Social Media</label>
                        <select class="ui fluid dropdown">
                            <option value="instagram">Instagram</option>
                            <option value="facebook">Facebook</option>
                            <option value="twitter">Twitter</option>
                            <option value="github">GitHub</option>
                            <option value="linkedin">LinkedIn</option>
                        </select>
                    </div>
                    <div>
                        <i class="ui plus circle icon grn"></i>
                    </div>
                </div>
                <div id="anchor"></div>
                <div id="form-button" class="hidden" style="margin-top: 3vh;">
                    <button class="ui button" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </script>
    <script id="big-Settings" type="text/x-handlebars-template">
        <div class="ui segment">
            <form action="/mypage/<%= user._id %>?_method=PUT" method="POST" class="ui form">
                <div class="field">
                    <label>First Name</label>
                    <% if(user.firstName) {%>
                    <input type="text" name="firstName" value = "<%= user.firstName %>" placeholder="First Name">
                    <%}else { %>
                    <input type="text" name="firstName" placeholder="First Name">
                    <% } %>
                </div>
                <div class="field">
                    <label>Last Name</label>
                    <% if(user.lastName) {%>
                    <input type="text" name="lastName" value = "<%= user.lastName %>" placeholder="First Name">
                    <%}else { %>
                    <input type="text" name="lastName" placeholder="Last Name">
                    <% } %>
                </div>
                <button class="ui button" type="submit">Submit</button>
            </form>
        </div>
    </script>
    <script id="small-Menu" type="text/x-handlebars-template">
        <div class="ui tabular menu">
            <a id = "Picture" class="item">
                MyPicture
            </a>
            <a id="Bio" class="item">
                Bio
            </a>
            <a id = "Links" class="item">
                Links
            </a>
            <a id = "Settings" class="item">
                Settings
            </a>
          </div>
          <div id ="parent" class="ui bottom attached segment" style="padding: 0;"></div>
    </script>
    <script id="small-Picture" type="text/x-handlebars-template">
        <div id="div-small-picture" class="picture-container">
            <form action="/mypage/<%= user._id %>/upload?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="icon-container">
                    <div>
                        <label for="smallImgInput"><i class="file alternate icon"></i>Choose a file</label>
                        <input id="smallImgInput" type="file" name="image" class="inputfile" required>
                    </div>
                    <div>
                        <!-- <button type="submit" class="hidden"><i class="ui check icon grn"></i></button> -->
                        <button type="submit"><i class="ui check icon grn"></i></button>
                    </div>
                </div>
                <div id="small-Image" class="img-container">
                    <% if(user.img.contentType) { %>
                    <img class="rounded" style="max-width: 100%; height: auto;" src="data:image/<%=user.img.contentType%>;base64, 
                            <%=user.img.data.toString('base64')%>"> 
                    <% }else{ %>
                    <img class="rounded" style="width: 100%; height: 100%;" src="https://images.unsplash.com/photo-1594568644264-65471ca94c9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                    <% } %>
                </div>
            </form>
        </div>
    </script>
    <script id="small-Bio" type="text/x-handlebars-template">
        <div>
            <form id = "form-small-textarea" style="position: relative;"action="/mypage/<%= user._id %>?_method=PUT" method="POST" class="ui form">
                <textarea name="bio"><% if(user.bio){ %><%= user.bio %><% }else{ %>Enter your bio here<% } %></textarea>
                <button><i class="ui check icon grn"></i></button>
            </form>
        </div>
    </script>
    <script id="small-Links" type="text/x-handlebars-template">
        <div class="ui segment">
            <ul>
                <% user.links.forEach(link => {%>
                <li>
                    <i class="<%= Object.keys(link)%> icon"></i><%= Object.values(link)%>
                </li>
                <% }) %>
            </ul>
            <form id="form-small-links"action="/mypage/<%= user._id %>/links?_method=PUT" method="POST" class="ui form">
                <div class="field">
                    <div>
                        <div class="div-inline">
                            <label>Social Media</label>
                            <select class="ui fluid dropdown">
                                <option value="instagram">Instagram</option>
                                <option value="facebook">Facebook</option>
                                <option value="twitter">Twitter</option>
                                <option value="github">GitHub</option>
                                <option value="linkedin">LinkedIn</option>
                            </select>
                        </div>
                        <div class="icon-container">
                            <i class="ui plus circle icon grn"></i>
                        </div>
                    </div>
                </div>
                <div id="anchor"></div>
                <div id="form-button" class="hidden">
                    <button class="ui button" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </script>
    <script id="small-Settings" type="text/x-handlebars-template">
        <div class="ui segment">
            <form action="/mypage/<%= user._id %>?_method=PUT" method="POST" class="ui form">
                <div class="field">
                    <label>First Name</label>
                    <% if(user.firstName) {%>
                    <input type="text" name="firstName" value = "<%= user.firstName %>" placeholder="First Name">
                    <%}else { %>
                    <input type="text" name="firstName" placeholder="First Name">
                    <% } %>
                </div>
                <div class="field">
                    <label>Last Name</label>
                    <% if(user.lastName) {%>
                    <input type="text" name="lastName" value = "<%= user.lastName %>" placeholder="First Name">
                    <%}else { %>
                    <input type="text" name="lastName" placeholder="Last Name">
                    <% } %>
                </div>
                <button class="ui button" type="submit">Submit</button>
            </form>
        </div>
    </script>
	<title></title>
</head>
<body>
    <!-- FIX MENU FOR MOBILE!!!! -->
    <!-- NAV -->
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<div id="menu" class="ui secondary menu">
					<div class="header item">
						<a href="/"><i class="code icon"></i></a>
					</div>
					<a href="/" class="active item">Blog</a>
					<% if(user){ %>
                        <a href="/mypage/<%= user._id %>" class="item"><%= user.username %></a>
					<a href="/blogs/new" class="item">New Post</a>
					<% } %>
				<div class="right menu ">
					  <% if(user){ %>
					  <div class="item">
						<a href="/logout" class="ui negative button">Log-out</a>
					  </div>
					  <% }else{ %>
						<div class="item">
							<a href="/login" class="ui violet button">Log-in</a>
						  </div>
						<div class="item">
							<a href="/register" class="ui primary button">Sign up</a>
						</div>
					  <% } %>
				</div>
			</div>
		</div>
    </div>
    <!-- PICTURE -->
    <div class="main-third row">
        <div class="width-3 height-12">
            <div id="big-Image" class="img-container">
                <% if(user.img.contentType) { %>
                <img class="rounded" src="data:image/<%=user.img.contentType%>;base64, 
                            <%=user.img.data.toString('base64')%>">
                <% }else{ %>
                <img class="rounded" src="https://images.unsplash.com/photo-1594568644264-65471ca94c9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                <% } %>
                <form id="form-show-user" class="overlay" action="/mypage/<%= user._id %>/upload?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="width-6 center-x center-y">
                            <input id="bigImgInput" type="file" name="image" class="inputfile" required>
                            <label for="bigImgInput"><i class="file alternate icon icon-inside"></i></label>
                        </div> 
                        <div class="width-6 center-x center-y">
                            <button><i class="ui check icon icon-inside good"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- BUTTONS -->
        <div class="width-9 height-12">
            <div class="width-12 height-3">
                <div class="row user-buttons">
                    <div class="width-3 right-x center-y btn-purple left-rounded">
                        <i class="align left icon icon-centered"></i>
                    </div>
                    <div class="width-6 center-x center-y btn-purple">
                        <span>My Posts</span>
                    </div>
                    <div class="width-3">
                        <div id="fixed-pointing-label" class="ui basic purple left pointing label right-rounded center-x center-y">
                            <i class="angle double right icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="width-12 height-3">
                <div class="row user-buttons">
                    <div class="width-3 right-x center-y btn-red left-rounded">
                        <i class="align left icon icon-centered"></i>
                    </div>
                    <div class="width-6 center-x center-y btn-red">
                        <span>Bloggers</span>
                    </div>
                    <div class="width-3">
                        <div id="fixed-pointing-label" class="ui basic red left pointing label right-rounded center-x center-y">
                            <i class="angle double right icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="width-12 height-3">
                <div class="row user-buttons">
                    <div class="width-3 right-x center-y btn-yellow left-rounded">
                        <i class="align left icon icon-centered"></i>
                    </div>
                    <div class="width-6 center-x center-y btn-yellow">
                        <span>Followers</span>
                    </div>
                    <div class="width-3">
                        <div id="fixed-pointing-label" class="ui basic yellow left pointing label right-rounded center-x center-y">
                            <i class="angle double right icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="width-12 height-3">
                <div class="row user-buttons">
                    <div class="width-3 right-x center-y btn-teal left-rounded">
                        <i class="align left icon icon-centered"></i>
                    </div>
                    <div class="width-6 center-x center-y btn-teal">
                        <span>Events</span>
                    </div>
                    <div class="width-3">
                        <div id="fixed-pointing-label" class="ui basic teal left pointing label right-rounded center-x center-y">
                            <i class="angle double right icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dynamic-menu" style="width: 80%; margin: 5% auto;">
    </div>
<script type="module" src = "/js/showUser.js"></script>
<%- include("partials/footer") %>